<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="CMSHashStringSalt" value="abcdef-fbe007be-d585-40b4-80b6-0e91e8530d5c" />
</appSettings>
  <connectionStrings>
    <clear />
    <add name="CMSConnectionString" connectionString="Persist Security Info=False;database=Kentico12-PE;server=.;Integrated Security=true;Current Language=English;Connection Timeout=240;" />
  </connectionStrings>
</configuration>